@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');

:root {
  --font-utama: 'Quicksand', sans-serif;
  --color-utama: crimson;
}

.bg-utama {
  background-color: var(--color-utama);
}

.btn-color {
  background-color: var(--color-utama) !important;
  color: white !important;
}

.btn-color:hover {
  background-color: var(--color-utama);
  color: whitesmoke !important;
}

.color-utama {
  color: var(--color-utama);
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-utama) !important;
}

.navbar-collapse {
  transition: all 0.3s ease !important;
}

.shadow-custom {
  box-shadow: 0 1px 3px #0000001a, 0 1px 2px #0000000f !important;
}

.navbar-toggler span {
  display: block;
  background-color: black !important;
  height: 3px;
  width: 25px;
  margin-top: 5px;
  margin-bottom: 5px;
  position: relative;
  left: 0;
  opacity: 1;
  transition: all 0.35s ease-out;
  transform-origin: center left;
  border-color: #fff !important;
}



.navbar-toggler span:nth-child(1) {
  transform: translate(0%, 0%) rotate(0deg);
}

.navbar-toggler span:nth-child(2) {
  opacity: 1;
}

.navbar-toggler span:nth-child(3) {
  transform: translate(0%, 0%) rotate(0deg);
}

.navbar-toggler span:nth-child(1) {
  margin-top: 0.3em;
}

.navbar-toggler:not(.collapsed) span:nth-child(1) {
  transform: translate(15%, -33%) rotate(45deg);
}

.navbar-toggler:not(.collapsed) span:nth-child(2) {
  opacity: 0;
}

.navbar-toggler:not(.collapsed) span:nth-child(3) {
  transform: translate(15%, 33%) rotate(-45deg);
}

.mycard {
  transition: all 0.3s ease !important;
}

.mycard:hover {
  transform: translateY(-0.25rem) !important;
  box-shadow: hsl(351, 74%, 50%) 0px 1px 4px, hsl(351, 74%, 50%) 0px 0px 0px 3px !important;
}

.nav-item a {
  transition: all 0.3s ease !important;
}

@media (min-width: 768px) {
  .nav-item a:hover {
    background-color: whitesmoke !important;
    color: black !important;
    border-radius: 12px;
  }


}