.marginTop {
  margin-top: -70px;
}

.cardProduk {
  box-shadow: hsl(33, 100%, 50%) 0px 1px 4px, hsl(33, 100%, 50%) 0px 0px 0px 3px !important;
}

.cardService {
  box-shadow: hsl(211, 28%, 25%) 0px 1px 4px, hsl(211, 28%, 25%) 0px 0px 0px 3px !important;
}